@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}
