@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  color-scheme: light dark;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

.checklist-focus .app-sidebar,
.checklist-focus .app-topbar {
  display: none;
}

.checklist-focus .app-main {
  padding-top: 1.5rem;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}
